@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  scroll-behavior: smooth;
}
*::-webkit-scrollbar{
  display: none;
  scroll-behavior: smooth;
}
html,
body,
:root {
  height: 100vh;
  position: relative;
  scroll-behavior: smooth;
}
/* Swiper */
.swiper-button-prev::after, .swiper-button-next::after {
  display: none;
}
.swiper-pagination {
  position: relative !important;
  width: fit-content !important;
}
.swiper-pagination-bullet {
  opacity: 0.8 !important;
  background-color: #1094f4 !important;
  width: 10px !important;
  height: 10px !important;
  margin: 0px 10px !important;
  border-radius: 10px !important;
  transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02) !important;
}
.swiper-pagination-bullet-active{
  background-color: #fcbc30 !important;
  width: 30px !important;
}
/*  */
.bg_transparent{
  background-color: rgba(255, 255, 255, 8%);
}
.hiddenNavbar{
  transform: translateY(-140%);
}

@keyframes biani {
  0% {
      border-radius: 48% 52% 57% 43% / 34% 44% 56% 66%;
  }
  25% {
      border-radius: 62% 38% 64% 36% / 34% 55% 45% 66%;
  }
  50% {
      border-radius: 43% 57% 51% 49% / 33% 42% 58% 67%;
  }
  100% {
      border-radius: 40% 60% 43% 57% / 52% 32% 68% 48%;
  }
}
/* glowing animation */
@keyframes glowingAnimate {
  0% {
    filter: drop-shadow(0 0 10px #f5365c) 
            drop-shadow(0 0 20px #f5365c)
            drop-shadow(0 0 35px #f5365c);
  }
  25% {
    filter: drop-shadow(0 0 10px #ff9800) 
            drop-shadow(0 0 20px #ff9800) 
            drop-shadow(0 0 35px #ff9800);
  }
  50% {
    filter: drop-shadow(0 0 10px #2dce89) 
            drop-shadow(0 0 20px #2dce89) 
            drop-shadow(0 0 35px #2dce89);
  }
  75% {
    filter: drop-shadow(0 0 10px #11cdef) 
            drop-shadow(0 0 20px #11cdef)
            drop-shadow(0 0 35px #11cdef);
  }
  100% {
    filter: drop-shadow(0 0 10px #5e72e4)
            drop-shadow(0 0 20px #5e72e4)
            drop-shadow(0 0 35px #5e72e4);
  }
}
@layer base {
  section{
   @apply max-w-screen-2xl min-h-screen px-10 mx-auto py-[75px];
  }
}
@layer components {
  .container{
    @apply max-w-screen-2xl px-10 mx-auto py-[75px];
   }
  .flexCenter {
    @apply flex items-center justify-center
  }
  .flexBetween {
    @apply flex items-center justify-between
  }
  .text__heading {
    @apply text-[44px] leading-[54px] font-[700] text-light-text dark:text-dark-text;
  }
  .text__para {
    @apply text-[18px] leading-[30px] font-[400] text-light-textSoft dark:text-dark-textSoft mt-[18px];
  }
  .separate_line{
    @apply bg-gradient-to-r from-transparent via-gray-400 dark:via-[#FFFFFF66] opacity-75 to-transparent w-full h-[1px] border-none
  }
  .ver_separate_line{
    @apply bg-gradient-to-b from-transparent via-gray-400 dark:via-[#FFFFFF66] opacity-75 to-transparent h-full w-[1px] border-none
  }
  .btnCustom {
    @apply rounded-md px-4 py-2;
    box-shadow: inset 6px 6px 7px #dadada, inset -6px -6px 7px #ffffff;
  }
  .btnCustom_dark {
    @apply rounded-md px-4 py-2;
    box-shadow: inset 4px 4px 6px #1094f4, inset -6px -6px 7px #051139;
  }
  .yellowBtn {
    @apply rounded-md px-4 py-2 bg-gradient-to-br from-[#ffc954] to-[#ffbc00] hover:from-[#e3a92b] hover:to-[#ffc933];
    box-shadow: inset 4px 4px 8px #d6a029, inset -4px -4px 8px #ffd837;
  }
  .yellowBtn_dark {
    @apply rounded-md px-4 py-2 bg-gradient-to-br from-[#ffc954] to-[#ffbc00];
    box-shadow: inset 4px 4px 8px #d6a029, inset -4px -4px 8px #ffd837;
  }
  .product_shadow{
    @apply bg-gradient-to-br from-[#ececec] to-[#ffffff];
    box-shadow:  28px 28px 45px #d4d4d4, -28px -28px 45px #ffffff;
  }
  .product_shadow_dark{
    @apply bg-gradient-to-br from-[#47657a] to-[#051139];
    box-shadow:  9px 14px 25px #111c44, -28px -28px 45px #111c44;
  }
  .social_btn_shadow {
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 4px 4px 8px #d0d0d0, -4px -4px 8px #ffffff;
    color: #000000 !important;
  }
  .social_btn_shadow:hover {
    background: #ff8243;
    color: #ffffff !important;
  }
  .social_btn_shadow_dark{
    color: #fff !important;
    background: linear-gradient(145deg, #47657a, #051139);
    box-shadow: 4px 4px 8px #47657a, -4px -4px 8px #111c44;
  }
  .social_btn_shadow_dark:hover {
    background: #1094f4;
    color: #ffffff !important;
  }
  .parallax_img{
   animation: biani 4.5s linear infinite alternate;
  }
  .bannerBackGroundImage {
    background: url('/images/main-b.jpg') center/cover no-repeat;
  }
  .menuBackGroundImage {
    background: url('/images/blog-pattern-bg.png') center/cover no-repeat;
  }
  .glowing {
    @apply rounded-xl text-white;
    filter: drop-shadow(0 0 10px red)
    drop-shadow(0 0 20px red)
    drop-shadow(0 0 35px red);
    animation: glowingAnimate 4.5s linear infinite alternate;
  }

}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
.page_shadow {
  box-shadow:
  0px 10px 20px rgba(0, 0, 0, 0.15),  /* Shadow phía dưới */
  0px -10px 20px rgba(0, 0, 0, 0.15), /* Shadow phía trên */
  10px 0px 20px rgba(0, 0, 0, 0.15),  /* Shadow phía phải */
  -10px 0px 20px rgba(0, 0, 0, 0.15);  /* Shadow phía trái */
  /* Shadow nội bộ phía trái, đậm hơn */
}
.page_shadown_inner_right {
  box-shadow: inset 10px 0px 30px rgba(0, 0, 0, 0.3);
}
.page_shadown_inner_left {
  box-shadow: inset -10px 0px 30px rgba(0, 0, 0, 0.3); /* Shadow bên phải */
}
 
}

@media only screen and (max-width: 1024px) {
  section {
    @apply py-[35px] px-6;
  }
  .container {
    @apply py-[35px] px-6;
  }
}

@media only screen and (max-width: 768px) {
  section {
    @apply px-3
  }
  .container {
    @apply px-3
  }
  .text__heading {
    @apply text-[26px] leading-[36px];
  }
  .text__para {
    @apply text-[16px] leading-7 mt-3;
  }
}
